body{
    background: linear-gradient(90deg, #ff0000, #0000ff);
    margin:0;
    padding:0;
    color:#fff;
    font-family: sans-serif;
}

.formBox{
    background:#000;
    position:absolute;
    width: 500px;
    height: 450px;
    padding:40px 40px 40px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    border-radius: 10px;
}

.image{
    width:150px;
    height:150px;
    border-radius:50%;
    position: absolute;
    top:-75px;
    left: 175px;
}

.formBox h1{
    position:absolute;
    color:#000;
    left: 50%;
    transform: translate(-50%,0);
    top:120px;
    letter-spacing: 5px;
    margin:0;
    overflow: hidden;
    white-space: nowrap;
    padding:0;
    text-align: center;
    font-size: 25px;
}

.formBox h1:before{
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color:#fff;
    overflow:hidden;
    border-right: 1px solid #DD99FF;
    animation: type 10s linear infinite;
    white-space: nowrap;
}

@keyframes type{
    0%{
        width: 0;
    }
    50%{
        width: 100%;
        color:#DD99FF;
    }
    100%{
        width: 0;
    }
}

.formBox .inputBox{
    position: relative;
    top:130px;
    padding-bottom: 20px;
}

.inputBox input{
    box-sizing:border-box;
    width: 100%;
    padding:10px 0;
    color:#fff;
    border:none;
    border-bottom:1px solid #fff;
    outline:none;
    background: transparent;
    font-size:20px;
}

.inputBox label{
    position: absolute;
    left:0;
    top:0;
    padding:10px 0;
    font-size:20px;
    pointer-events: none;
    transition: .5s;
}

.inputBox input:focus ~ label,
.inputBox input:not(:placeholder-shown) ~ label{
    top: -20px;
    color: #DD99FF;
    font-size: 15px;
}

.inputBox input:focus{
    border-bottom-color:#DD99FF;
}

.formBox .inputBox a{
    position: absolute;
    display: block;
    right:0;
    color:#fff;
}

.formBox .inputBox a:hover{
    color:#DD99FF;
}

.formBox .inputBox button{
    height: 40px;
    margin-top: 35px;
    margin-bottom: -20px;
    width: 100%;
    cursor: pointer;
    background: none;
    color:white;
    border-radius:50px;
}

.formBox .inputBox button:hover{
    box-shadow: 0 5px 20px rgba(187,51,255,0.8);
    color: #DD99FF;
    border-color: #DD99FF;
}
